<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <title>Scheduler</title>
  <link rel="icon" href="https://assets.mdekort.nl/logo.svg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="my-5">
      <h1><a href="{{ url_for('index_get') }}" class="text-decoration-none" style="color: inherit;">Scheduler</a></h1>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    {% if trigger %}
    <div class="alert alert-success" role="alert">
      {{ trigger }}
    </div>
    {% endif %}
    <div class="my-5">
      <h3><i class="fa-brands fa-docker text-primary"></i> Docker jobs</h3>
      <form id="triggerForm" enctype="multipart/form-data" action="{{ url_for('post_trigger') }}" method="post">
        <input type="hidden" id="triggerJobName" name="triggerJobName"/>
        <table class="table" style="font-size: 0.75rem;">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Jobtype</th>
              <th scope="col">Image/Container</th>
              <th scope="col">Command</th>
              <th scope="col">Schedule</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for job in docker_jobs %}
            <tr class="align-middle">
              <td scope="row">
                {{ job.name }}
                {% if job.is_running() %}
                &nbsp;
                <span class="badge bg-danger">
                  RUNNING
                </span>
                {% endif %}
              </td>
              <td>{{ job.jobtype }}</td>
              <td>{{ job.get_image_or_container() }}</td>
              {% if job.command == None %}
              <td class="text-secondary">-</td>
              {% else %}
              <td class="text-truncate" style="max-width: 400px;">{{ job.command }}</td>
              {% endif %}
              <td>{{ job.schedule }}</td>
                {% if job.jobtype == 'exec' %}
                  {% if job.is_running() %}
              <td>
                <button type="button" onclick="submitTrigger('{{ job.name }}')" value="{{ job.name }}" class="btn btn-sm btn-primary">
                  {% else %}
              <td data-bs-toggle="tooltip" data-bs-title="Container isn't running!">
                <button type="button" class="btn btn-sm btn-outline-primary" disabled>
                  {% endif %}
                {% elif job.jobtype == 'run' %}
                  {% if job.is_running() %}
              <td data-bs-toggle="tooltip" data-bs-title="This job is already running!">
                <button type="button" class="btn btn-sm btn-outline-primary" disabled>
                  {% else %}
              <td>
                <button type="button" onclick="submitTrigger('{{ job.name }}')" value="{{ job.name }}" class="btn btn-sm btn-primary">
                    {% endif %}
                {% endif %}
                  Trigger
                </button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/6bfcea34f1.js" crossorigin="anonymous"></script>
  <script language='JavaScript' type='text/javascript'>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    function submitTrigger(value) {
      document.getElementById('triggerJobName').value = value;
      document.getElementById('triggerForm').submit();
    }
  </script>
</body>
</html>
