name: "Pipeline"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/pipeline.yml'
      - 'scheduler/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'uv.lock'
      - 'Dockerfile'
      - 'codecov.yml'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Run tests
        run: uv run pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: coverage.xml
          use_oidc: true
          verbose: true

  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
        uses: docker/build-push-action@v6
        with:
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Login to GitHub Container Registry
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/melvyndekort/scheduler:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
